atom-notifications {
    atom-notification {
        margin-bottom: 5px;
        padding-left: 0;
        font-size: 13px;

        &:first-child.has-close {
            .message {
                padding-right: 135px;
            }
        }

        &.icon {
            &:before {
                display: none !important;
            }
        }

        .item {
            border-top: none;
        }

        .btn-toolbar {
            margin-top: 0;
        }

        &.success {
            .content {
                background: @base-border-color;
                color: #FFF;

                code {
                    padding: 0;
                    font-family: @font-family;
                    font-size: 100%;
                    background: transparent;
                    color: @primary-color;
                }
            }

            .close-all {
                color: #FFF;
                border: 1px solid #FFF;
            }
        }

        .close {
            color: #FFF;

            &:hover, &:focus {
                color: #FFF;
                opacity: 1;
            }
        }
    }
}
